.main-section {
  height: 100vh;
}
.left-section {
  background-color: #a54b0f;
  height: 100vh;
}
.right-section {
  padding: 4rem;
}
.form-section {
  margin-top: 7rem;
}

.side-nav h2 {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 28px;
}

.side-nav li a {
  text-decoration: none;
  color: rgb(22, 20, 20);
  font-size: 18px;
}
.side-nav li {
  list-style: none;
  padding: 10px 10px 10px 8px;
}
.side-nav ul {
  list-style: none;

  margin-right: -22px;
}
.active {
  font-weight: 500;
  background-color: #f7d0d0;
}
.fa-power-off {
  font-size: 18px !important;
  color: #fff !important;
}

.main {
  height: 100vh;
  background-color: blueviolet;
  width: 22vw;
}
.container {
  position: relative;
}

.container .navigation {
  position: relative;
  width: 300px;
  height: 100vh;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.navigation ul {
  top: 0;
  width: auto;
  left: 0 !important;
  padding-left: 0px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  margin-top: 5px;
}
.navigation ul li:hover {
  background: #f7d0d0;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: rgb(17, 16, 17);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa {
  font-size: 24px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  line-height: 60px;
  white-space: nowrap;
}
.title {
  font-weight: 600;
}
