<div class="container-fluid">
  <div class="row">
    <div class="col-3 main">
      <div class="navigation">
        <div class="py-4">
          <h3 class="text-center text-white">Sarfaroj</h3>
        </div>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="home">
              <span class="icon"
                ><i class="fa fa-home" aria-hidden="true"></i
              ></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="users">
              <span class="icon"
                ><i class="fa fa-users" aria-hidden="true"></i
              ></span>
              <span class="title">Students</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="">
        <div class="p-3 mt-3">
          <div class="d-flex justify-content-between">
            <h5>Dashboard</h5>
            <button class="btn btn-danger" (click)="logOut()" title="Log out">
              <i class="fa fa-power-off" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="mt-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
