.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
.alert-box {
  position: fixed;
  top: 35vh;
  left: 35vw;
  width: 35vw;
  padding: 20px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.alert-box-action {
  text-align: right;
}
.alert-message {
  font-size: 16px;
  font-weight: 500;
}
.btn-space {
  margin-right: 10px !important;
}
